<section class="container banner">
  <div class="container hero">
    <h4 class="mat-h4">Hi, my name is</h4>
    <h1 class="mat-display-3 name">Deo Guillermo.</h1>
    <h3 class="mat-h3">
      I'm a <span class="job-desc"><b>Software Engineer.</b></span>
    </h3>
  </div>
</section>

<section class="container about">
  <mat-card class="about-card">
    <h3 class="mat-h3 about">
      <b>About Me</b>
    </h3>
    <mat-card-content class="about-content">
      <p>TL;DR</p>
      <p>
        Hello, I'm Deo,
        a Software Engineer based in Manila, Philippines.
      </p>
      <p>
        I'm passionate about creating software applications, especially those
        that are meaningful and provide value to people.
      </p>
      <p>
        I've been a professional software developer for 6 years now (since 2014),
        and had experience working for several corporate companies in the tech industry.
      </p>
      <p>
        Here are some of the technologies that I currently use in my projects:
      </p>
      <ul class="tech-list">
        <li>Angular, Javascript</li>
        <li>HTML & (S)CSS</li>
        <li>Python, GoLang</li>
        <li>Docker</li>
        <li>Figma</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <div class="row action-buttons">
        <a class="action-portfolio" href="#" mat-raised-button color="accent">
          My Portfolio >>
        </a>
        <button class="action-contact" mat-raised-button color="accent">
          Contact Me
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
