@import '~@angular/material/theming';

@mixin header-theme($theme){
  $config: mat-get-color-config($theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $white: mat-color($mat-grey, A100);
  $background: mat-color($primary);
  $foreground: map-get($primary, default-contrast);

  .nav.container {
    width: 100%;
    background-color: $background;
    align-items: flex-end;

    .nav-link {
      color: $foreground;
    }

  }

  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $foreground;
  }
}
