@import '~@angular/material/theming';

@mixin header-theme($theme){
  $config: mat-get-color-config($theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $white: mat-color($mat-grey, A100);
  $background: mat-color($primary);
  $foreground: map-get($primary, default-contrast);

  .header-nav-container, .header-nav{
    background-color: $background;
  }

  .header-nav .nav-link, .menu-icon {
    color: $foreground;
  }
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $foreground;
  }
}
