<header class="header-nav-container">
<nav mat-tab-nav-bar
     *ngIf="!isMobile"
     class="header-nav container">
  <a mat-tab-link class="nav-link" *ngFor="let tab of tabs; let id=index"
     (click)="tabClicked(id)"
     [active]="activeLink==id"
     routerLink="{{ tab.routerLink }}"
     routerLinkActive="active">
    <mat-icon>{{tab.icon}}</mat-icon>
    <div class="tab-label">{{tab.label}}</div>
  </a>
</nav>

<nav class="header-menu">
<button mat-button
        class="header-menu-btn"
        *ngIf="isMobile"
        [matMenuTriggerFor]="menu">
  <mat-icon class="menu-icon">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a *ngFor="let tab of tabs"
     mat-menu-item
     routerLink="{{ tab.routerLink }}"
     routerLinActive="active">{{ tab.label }}</a>
</mat-menu>
</nav>

</header>
